@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="2475a830-392b-f98b-f7ef-9fdaca914ebc"] {
      font-variation-settings: "wght" 475;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="ae4742e5-cf1b-c28e-78d8-c2b9382dd1a4"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="432202ce-f0b8-c3dd-81df-f79986d71e1f"] {
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="54477986-55ba-1eda-a7bf-5a6a7b0b739d"] {
      width: 0vw;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="71065ef9-6724-60d4-afb3-e1a3983e8ca8"] {
      font-variation-settings: "wght" 475;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="346fdeeb-2577-bdc5-8cac-19a98d8df03c"] {
      -webkit-transform: translate3d(0.4rem, 3rem, 0) scale3d(1, 1, 1)
        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0.4rem, 3rem, 0) scale3d(1, 1, 1)
        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0.4rem, 3rem, 0) scale3d(1, 1, 1)
        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0.4rem, 3rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="525d2e5b-0cdb-43f3-ef5f-5ca6075c7296"] {
      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
        rotateX(-35deg) rotateY(8deg) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(-35deg)
        rotateY(8deg) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(-35deg)
        rotateY(8deg) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(-35deg)
        rotateY(8deg) rotateZ(0) skew(0, 0);
      transform-style: preserve-3d;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="07ab071e-a210-51e5-6262-21b4ba5f333b"] {
      -webkit-transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="234c59a4-466c-469d-8e4c-946ba5803772"] {
      -webkit-transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0vw, 0, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="970d5027-0a3c-c315-7298-951fcda8aed6"] {
      display: flex;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="0f26cbcb-bb9e-77b6-1254-e90bc82caf8e"] {
      filter: blur(5px);
      opacity: 0;
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="b0fcf624-37fb-1a3a-01de-3ceca5108a5a"] {
      -webkit-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1)
        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="883c54fb-72c3-5e67-7a39-559f60f89c39"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3c262138-2fb6-f97a-e478-c525f52668c8"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="54b4a385-bb6a-9d64-e3f1-44aa812c3e20"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="6b2ff22f-489f-25b0-7aac-aa83cbd81630"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="73030637-f924-ee84-91f0-03890119e0e4"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="c3a060e9-cd9c-c1d4-93d8-511e4b1ba79a"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="100dde34-ad3f-1811-3fda-882be29711e3"] {
      font-variation-settings: "wght" 450;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="970d5027-0a3c-c315-7298-951fcda8aed6"] {
      display: flex;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="0f26cbcb-bb9e-77b6-1254-e90bc82caf8e"] {
      filter: blur(5px);
      opacity: 0;
      -webkit-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 2rem, 0) scale3d(1, 1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="b0fcf624-37fb-1a3a-01de-3ceca5108a5a"] {
      -webkit-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1)
        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
      -moz-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      -ms-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
      transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0)
        rotateY(0) rotateZ(0) skew(0, 0);
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="883c54fb-72c3-5e67-7a39-559f60f89c39"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="3c262138-2fb6-f97a-e478-c525f52668c8"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="54b4a385-bb6a-9d64-e3f1-44aa812c3e20"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="6b2ff22f-489f-25b0-7aac-aa83cbd81630"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="73030637-f924-ee84-91f0-03890119e0e4"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="c3a060e9-cd9c-c1d4-93d8-511e4b1ba79a"] {
      filter: blur(5px);
      opacity: 0;
    }
    html.w-mod-js:not(.w-mod-ix)
      [data-w-id="100dde34-ad3f-1811-3fda-882be29711e3"] {
      font-variation-settings: "wght" 450;
    }
}